{% if settings.custom_popup%}
<div class="model-content">
<div class="model-body">
<button type="button" class="close" data-dismiss="model"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
</button>
<div class="window-content">
        <div class="left">
          <h1 class="title">{{ settings.popup-title }}</h1>
          <p class="sub-title">{{ settings.popup-desc }}</p>
          {% include 'popup-form' %}
          <h2 class="message">{{ settings.popup-msg }}</h2>
        </div>
</div>          
</div>
</div>
{% endif %}