<!doctype html>

<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
  <meta charset="utf-8">

 
  {{ content_for_header }}
</head>

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >
  <div id="wrapper"> 
    <!-- header --> 
    <div class="quick-view"></div>
          {{ content_for_layout }}

  </div>

</body>
</html>