jQuery(document).ready(function() {
	// Disable quick view button
    $("product-grid-image").hover(function() {
        $('.sca-qv-button').contents().remove('');
    });

    // Cart validation based on whether time slot is selected
    var target = document.querySelector('#timeDiv');
    
    var observer = new MutationObserver(function(mutations) {
      mutations.forEach( function(mutation) {
          var totalPrice  = document.querySelector('.money').innerHTML.replace('RM', '');
          var displayStyle = mutation.target.style.display;

          if (displayStyle === 'none') {          
            $("#dropdown-cart").find('.btn').attr('disabled', 'disabled');
	          $("#mobile-cart").find('.btn-checkout-mobile').attr('disabled', 'disabled');
          } else {
            if (totalPrice < 20.00) {
              $("#dropdown-cart").find('.btn').attr('disabled', 'disabled');
	            $("#mobile-cart").find('.btn-checkout-mobile').attr('disabled', 'disabled');
  	        } else {
  	            $("#dropdown-cart").find('.btn').removeAttr('disabled');
  	            $("#mobile-cart").find('.btn-checkout-mobile').removeAttr('disabled');
  	        }
          }
      });
    });    
    observer.observe(target, { attributes: true });

    // Fix issue of clicking prev/next datepicker buttons closes the cart
    $(".ui-datepicker-prev").live('click', function(e) {
      e.stopPropagation();
    });

    $(".ui-datepicker-next").live('click', function(e) {
      e.stopPropagation();
    });

    // Apply styling to 'edit account details' page
    $('#customr h1').replaceWith(function () {
        return '<h2 class="page_title">Edit Account Details</h2>';
    });

    $('#customr a[href="/account"]').remove();

    $('#customr-edit').find(':text').addClass('form-control');
    $('#customr-edit').find(':text').attr('size', '40');
    $('#customr-edit').find(':text').css({
      "margin-top": "5px",
      "font-weight": "normal"
    });

    $('#customr-edit').find('input[type=email]').addClass('form-control');
    $('#customr-edit').find('input[type=email]').attr('size', '40');
    $('#customr-edit').find('input[type=email]').css({
      "margin-top": "5px",
      "font-weight": "normal"
    });

    $('#customr').find(':submit').addClass('btn btn-primary');
    $('<a class="btn btn-primary" style="margin-right:5px" href="/account">Back</a>').insertBefore('#customr-edit :submit');
    $('.reset-password').css('margin-top', '5px');
});