{% if page.handle == "request-for-quote" %}
   {% layout 'theme.wholesale'%}
{% endif %}

{% if page.handle == "quotes-history" %}
   {% layout 'theme.wholesale'%}
{% endif %}

<div class="page-scope">

  <div class="page_header">
    <h1 class="page_title">{{ page.title }}</h1>
  </div>

  <div class="page_content">
    <div class="rte">
      {{ page.content }}
    </div>
  </div>
  
</div>